.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 150px 150px 50px; */
    padding: 20px;
    border: 1px solid silver;
    background-color: #fff;
    border-radius: 10px;
  }
  .image {
    width: 450px;
  }
  
.textContainer {
    text-align: left;
    margin-left: 30px;
    padding: 20px;
    border: 1px solid silver;
    border-radius: 10px;
  }
  .textContainer h3 {
    color: #4a54cf;
    margin: 20px 0 30px;
  }
  
  .description {
    color: rgb(62, 62, 62);
    margin-bottom: 30px;
  }
  
  .category {
    color: rgb(62, 62, 62);
    font-weight: bold;
    margin-bottom: 50px;
  }
  
  .category span {
    color: #f78e06;
    font-size: 1rem;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .price {
    font-size: 0.9rem;
    font-weight: 500;
    display: inline-block;
    background: #34a853;
    padding: 7px 16px;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
      rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
      rgba(0, 0, 0, 0.07) 0px 9px 16px;
  }
  
  .buttonContainer a {
    font-size: 0.9rem;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    background: #6e5dcf;
    padding: 7px 16px;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: all 0.2s ease;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
      rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
      rgba(0, 0, 0, 0.07) 0px 9px 16px;
  }
  
  .buttonContainer a:hover {
    background-color: #75329b;
  }
  
  @media (min-width: 320px) and (max-width: 480px) {
    body {
      margin: 0px 40px 0px 30px; 
      margin-top: 120px;
    }
    .container {
      width: calc(100% - 30px);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 25px 10px 25px;
      
    } 
    .textContainer {
      padding: 0px 10px 0px 0px;
      padding-left: 2px;
      text-align: center;
    }
    .textContainer h3 {
      font-size: 0.8rem;
      text-align: center;
    }
    .description {
      font-size: 0.8rem;
      text-align: center;

    }
    .category {
      font-size: 0.8rem;
      padding-left: 10px;

    }
    .category span {
      font-size: 0.8rem;

    }
    .price {
      font-size: 0.8rem;
      width: 50px;
      margin-left: -10px;
      padding-left: 4px;
      padding-right: 0px;
      text-align: center;
      
    }
    .image {
      width: 80px;
      padding-left: 5px;
      padding-right: -5px;
    }
    .textContainer {
      width: 200px;
    }
    .buttonContainer {
      padding-left: 15px;
      padding-right: 5px;
    }
    .buttonContainer a {
      font-size: 0.8rem;
      width: 85px;
      margin-right: -10px;
      text-align: left;
      padding-left: 7px;
      padding-right: 0px;

    }
  }

  @media (min-width: 480px) and (max-width: 513px) {
    body {
      margin: 40px 20px 20px 30px;
    }
    .container {
      width: calc(100% - 50px);
      margin-top: 100px;
    
    } 
    .image {
      width: 150px;
    }
    .textContainer h3 {
      font-size: 1rem;
      text-align: center;
    }
    .description {
      font-size: 1rem;
    }
    .category {
      font-size: 1rem;
    }
    .category span {
      font-size: 1rem;
    }

    .price {
      font-size: 0.8rem;
      width: 50px;
      margin-left: -10px;
      padding-left: 4px;
      padding-right: 0px;
      text-align: center;
    }

    .buttonContainer a {
      font-size: 0.8rem;
      width: 85px;
      margin-right: -10px;
      text-align: left;
      padding-left: 7px;
      padding-right: 0px;

    }
  }
  
@media (min-width: 513px) and (max-width: 768px) {
  body {
    margin: 100px 20px 20px 20px;
  }
  .image {
    width: 180px;
  }
 
  .buttonContainer a {
    width: 110px;
    font-size: 0.8rem;
    box-sizing: border-box;
    display: block;    
  }
  .buttonContainer span {
    width: 50px;
    font-size: 0.8rem;
    
  }
}

@media (min-width: 768px) {
  .image {
    width: 250px;
  }

}