
body {
  margin: 150px 168px 50px;
  background-color: #EAEBED;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 480px) {
  body {
    margin: 110px 20px 20px 30px;
  }
}

@media (min-width: 481px) and (max-width: 570px) {
  body {
    margin: auto;
  }
}

@media (min-width: 570px) and (max-width: 690px) {
  body {  
  /* margin: 90px 0px 0px; */
  margin: 100px auto;
  width: calc(100% - 60px);
  }
}

@media (min-width: 690px) {
  body {
    width: calc(100% - 60px);
    margin: 100px auto;
  }

}